.layout {
  height: 100%;
  & > div {
    height: 100%;
    & > form {
      height: 100%;
    }
  }
}
.formLayout {
  display: flex;
  > fieldset {
    flex-grow: 1;
    > textarea {

      height: 100%;
      width: 100%;
    }
  }
}
